/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  position:absolute;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  color: #121212;
  font-size: 16px;
  line-height: 1.2em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow:hidden;
  background: #EFEFEF;
}

/******************************************
/* LAYOUT
/*******************************************/

#container{
    position:absolute;
    width:100%;
    height:auto;
    overflow:hidden;

}

#bg{
    position:absolute;
    width:200%;
    height:200%;
    top:-33.3333%;
    left:-33.3333%;
    background:url('../img/photos/dreaming-of-spring-by-steve-belovarich.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    overflow:hidden;
}

a:link,a:visited{
  color:#EFEFEF;
}
a:hover,a:active{
  color:#14FF91;
}
/*

reg

green: #12EA85;
gray: #BBCFAE;
ltpink: #FBBBB7;
medpink: #FB9CAF;
brpink: #FA5FA3;


active

green: #14FF91;
gray: #A07F78;


*/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#sf-image-canvas{
    border-radius: 120px;
    background-color:#FFFFFF;
    width:240px;
    height:240px;
    margin-left: 40px;
    margin-top: 20px;
}

.form{
  position:relative;
  width: 320px;
  height: auto;
  background: #DCDCDC;
  top:10%;
  left:50%;
  margin-left:-180px;
  clear:both;
  padding-bottom: 4px;
  margin-top: 60px;
  margin-bottom: 60px;
  display:none;
}

.form input{
  width:300px;
  height:48px;
  border: 0 none;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

input.upload {
    font-size: 1em;
    line-height: 0em;
    padding-left:0px;
}

.form input:focus,.form input:active{
  outline: none;
}


.form .button{
  width:300px;
  height:48px;
  border: 0 none;
  padding: 10px;
  margin: 10px;
  background: #12EA85;
  font-size: 18px;
  color:#FFFFFF;
  text-align:center;
  cursor:pointer;
}

.form .button:hover{
  background: #14FF91;
}

.form h5{
  padding:10px;
}

#login-form{
    margin-top: 15%;
}

#signup-btn{
  cursor:pointer;
  font-weight:400;
}


#logout{
  position:absolute;
  top:0;
  right:0;
  color: #000;
  font-weight:500;
  padding-top:10px;
  padding-right:10px;
  cursor:pointer;
  display:none;
}

#logout:hover{
  font-weight:600;
  color:#14FF91;
}

.message{
  position:relative;
  width: 320px;
  height: auto;
  background: transparent;
  top:10%;
  left:50%;
  margin-left:-180px;
  clear:both;
  padding-bottom: 4px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size:64px;
  text-align:center;
}

.card{
    position:relative;
    width:22.25%;
    margin-left: 2.2%;
    margin-right: 2.2%;
    margin-top: 40px;
    height:auto;
    float:left;
    background:#FFFFFF;
    text-align:center;
    border-radius: 10px;
}

.card .photo{
    position:relative;
    width:120px;
    height:120px;
    border-radius: 60px;
    margin: 0 auto;
    margin-top:40px;
}

.card h3{
    padding-top:6px;
    padding-bottom:40px;
}
