body{
  color: #020202;
  background: rgba(182, 226,82,0.9);
  font-size: 16px;
  line-height: 24px;
}
h1,h2,h3,h4,h5,h6,p,a,li, blockquote{
  padding-top:20px;
  font-family: "Open Sans", sans-serif;
}
blockquote{
  font-style: italic;
  font-size: 24px;
}

#container{
  width: 60%;
  height:auto;
  position: relative;
  margin:0 auto;
}

header{
  border: 10px solid 020202;
  background: #CDEFDC;
}
section div{
  text-align: center;
}
.button{
  display: block;
  background:#CDEFDC;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
}
