.slider{

  overflow:hidden;

}
.slider ul{
  list-style-type:none;
  width:auto;
  position:relative;
  -webkit-transition: all 1.2s; /* Safari */
  transition: all 1.2s;

}
.slider ul li{
  display:inline-block;
  width:100%;
  float:left;
}
.slider ul li img{
  width:100%;
  height:auto;
}

.slider .left, .slider .right{
  width:40px;
  height:40px;
  position:absolute;
  margin-top:-20px;
  cursor:pointer;
}

.slider .left{
  left:0;
  background:url('../../img/arrow-down.svg');
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.slider .right{
  right:0;
  background:url('../../img/arrow-down.svg');
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
