/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */

  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */

  box-sizing: border-box;
  /* IE */
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #121212;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#container, .wrapper {
  width: 100%;
  height: 100%;
}
#container {
  position: fixed;
  left: 0px;
  z-index: 10;
  -webkit-transition: left 1.2s;
  transition: left 1.2s;
  background:#232323;
  width:100%;
  height:100%;
  overflow-y:scroll;
}
section{
  width:100%;
  height:auto;
  position:absolute;
  top:0;
  left:0;
  -webkit-transition: opacity 1.0s; /* Safari */
  transition: opacity 1.0s;
  overflow-y:scroll;
}
a:link,a:visited{
  color:rgba(255,255,255,0.8);
  font-weight:500;
}
a:hover{
  color:rgba(255,255,255,1.0);
}
p{
  line-height:1.3em;
}
