/*header stuff*/
#title-container{
  position:relative;
  height:auto;
  width:auto;

}
 #title-container h1{
   position:relative;
   float:left;
   text-align:left;
   margin-top:83px;
   margin-left:73px;
   margin-bottom:18px;

 }
 #title-container h1 a{
   color:#e50000;

 }
 #title-container h2{
   position:relative;
   float:left;
   color:#b2b2b2;
   text-align:right;
   margin:110px 0 0 40px;
 }

 /*navigation stuff*/
#navigation{
  position:relative;
  clear:both;
  margin:164px 0 0 72px;
  width:auto;
  height:80px;
}

#navigation a:link, a:visited{
  color:#e0e0e0;
  font-weight: 400;
  font-size:1.7em;
  display:block;
  text-decoration:none;
  width:216px;
  height:50px;
}
#navigation li{
  float:left;
  background-color:#191919;
  horizontal-align:middle;
  border-left:1px solid white;
  text-align:center;
  padding-top:25px;
}

/*nav bar at footer stuff */
#nav-footer{
  position:relative;
  padding-top:40px;
  padding-left:73px;
  height:70px;
}

#nav-footer a:link, a:visited{
  color:#e50000;
  font-weight: 400;
  font-size:1.5em;
  display:inline;
  text-decoration:none;

}
#nav-footer li{
  float:left;
  border-right:1px solid gray;
  text-align:left;
  margin-top:25px;
  padding:0 4px 0 4px;
}

#nav-footer li:last-child{
  border-right:0px;
}

/*blog post stuff*/
.post-container{
  width:868px;
  height:810px;
  border-bottom:1px solid black;
  margin-left:72px;
}

.post-container h2{
  margin-top:20px;
  font-weight:400;
  font-size:42px;
  color:#191919;
}

.post-container h2 a:link, a:visited{
  color:#191919;
}
.post-container h3{
  font-weight:400;
  font-size:2.7em;
  color:#b2b2b2;
}
.post-container h4{
  float:right;
  font-size:1.2em;
  font-weight:600;
  margin:35px 3px 0 0;
}

.post-container img{
  width:100%;
  margin-top:25px;
}

/*aside stuff */
